{{- include "rauthy-helm.validateReplicaCount" . }}
{{- include "rauthy-helm.validateConfigurationMethod" . }}
{{- include "rauthy-helm.validateMallocPreset" . }}
{{- include "rauthy-helm.validateScheme" . -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "rauthy-helm.fullname" . }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
  labels:
    {{- include "rauthy-helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  serviceName: {{ include "rauthy-helm.fullname" . }}-hiqlite-headless
  podManagementPolicy: OrderedReady
  updateStrategy:
    {{- toYaml .Values.updateStrategy | nindent 4 }}
  revisionHistoryLimit: 5
  selector:
    matchLabels:
      {{- include "rauthy-helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "rauthy-helm.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: default
      securityContext:
        runAsNonRoot: true
        fsGroup: 10001
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: {{ include "rauthy-helm.name" . }}
          securityContext:
            capabilities:
              drop:
                - ALL
            runAsUser: 10001
            runAsGroup: 10001
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            seccompProfile:
              type: RuntimeDefault
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: {{ .Values.service.scheme }}
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - name: hiqlite-raft
              containerPort: {{ .Values.hiqlite.ports.raft }}
              protocol: TCP
            - name: hiqlite-api
              containerPort: {{ .Values.hiqlite.ports.api }}
              protocol: TCP
            {{- if .Values.metrics.enabled }}
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
              protocol: TCP
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
              - name: "MALLOC_CONF"
                value: {{ include "rauthy-helm.mallocConf" . | quote }}
          {{- if .Values.env }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-env
          {{- end }}
          volumeMounts:
            - name: {{ include "rauthy-helm.fullname" . }}-data
              mountPath: /app/data
              readOnly: false
            - name: rauthy-config
              mountPath: /app/config.toml
              readOnly: true
              subPath: config.toml
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: rauthy-config
          secret:
            secretName: {{ include "rauthy-helm.fullname" . }}-config
        {{- if not .Values.persistence.enabled }}
        - name: {{ include "rauthy-helm.fullname" . }}-data
          emptyDir: {}
        {{- end }}
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - {{ include "rauthy-helm.name" . }}
              topologyKey: kubernetes.io/hostname
      {{- with .Values.affinity }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: {{ include "rauthy-helm.fullname" . }}-data
      spec:
        accessModes:
          - {{ .Values.persistence.accessMode | quote }}
        resources:
          requests:
            storage: {{ .Values.persistence.size }}
        {{- if .Values.persistence.storageClassName }}
        storageClassName: {{ .Values.persistence.storageClassName | quote }}
        {{- end }}
  {{- end }}