name: Release Charts

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v3.15.1

      - name: Install Helm plugins
        run: |
          helm plugin install https://github.com/karuppiah7890/helm-schema-gen.git

      - name: Create values.schema.json
        run: |
          helm schema-gen charts/rauthy/values.yaml > charts/rauthy/values.schema.json

      - name: Lint
        run: |
          helm lint .

      - name: Copy README.md to chart directory
        run: |
          cp README.md charts/rauthy/README.md

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_RELEASE_NAME_TEMPLATE: "rauthy-helm-chart-{{ .Version }}"