name: Verify Charts

on:
  push:
    branches:
      - develop

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.3.1
        with:
          version: v4.0.0

      - name: Set up dependencies
        run: |
          helm plugin install https://github.com/karuppiah7890/helm-schema-gen.git
          wget -O kubeconform.tar.gz https://github.com/yannh/kubeconform/releases/download/v0.7.0/kubeconform-linux-amd64.tar.gz
          tar -xf kubeconform.tar.gz

      - name: Lint chart
        run: |
          helm lint charts/rauthy

      - name: Validate templates
        run: |
          helm template rauthy charts/rauthy | kubeconform -verbose